<!DOCTYPE html>
<html>
<head>
    <style>
        h2 {
            color: black;
            margin: 0 0 60px 60px;
        }
        h4{ 
            color:black;
            margin: 0px 0px 20px 60px;
        }
        p{  color:black;
            margin: 0 0 10px 60px;
        }
        div{
            margin-top: 0px;
        }
    </style>
</head>
<body>
    <h2>Continuing a treasured tradition of music.</h2>
    <div>
    <p>For nearly 20 years, Toll Brothers has been the main sponsor of the Metropolitan Opera Saturday Matinee Radio Broadcasts, the longest-running continuous classical music program in American radio history. The program began in 1931 and, since then, Metropolitan Opera has aired over 1,800 live broadcasts of nearly 200 different operas.</p>
    <p>Today, the Met radio broadcasts are aired over the Toll Brothers-Metropolitan Opera International Radio Network, which comprises over 300 stations in the United States and reaches 11 million people in 42 countries around the globe.</p>
</div>
    <h2>Touching Lives Across the World</h2>
    <div>
    <h4>Toys for Tots</h4>
</div>
<p>Toll Brothers organizes annual collections in support of the Marine Toys for Tots program. In our divisions throughout the country, including Florida, New York, California, Nevada, and our Pennsylvania corporate headquarters, we purchase gift cards and new toys for families in need. Toll Brothers is honored to bring joy to many children (and their parents) each holiday season.</p>
    <div>
    <h4>Operation Holidays from Home</h4>
</div>
<div> 
    <h4>Seeds of Peace</h4>
    <p>Operation Holidays from Home is a Toll Brothers initiative that benefits members of the military. Employees donate snacks, magazines, toiletries, and other creature comforts, then send them in care packages to units deployed away from home during the holiday season.</p>
</div>
    <p>Each summer, the Seeds of Peace Camp program in Otisfield, Maine, offers a diverse group of young people from the United States, the Middle East, and South Asia the opportunity to form relationships, develop their leadership abilities, and build valuable communication skills as they address complex topics. Thus far, alumni number over 8,000 individuals representing 27 countries.</p>
    <h4>Fund the Cure Sponsorship</h4>
    <p>The Jane and Bob Toll Fund at Seeds of Peace provides vital support through scholarships and operational investments, and hundreds of Toll Brothers employees, associates, friends, and family devote a full day to preparing the Seeds of Peace campground for the summer season each year.</p>
    <p>It's no secret that we break a lot of ground, but we're doing our part for breakthroughs, too-breakthroughs in cancer research, to be exact. Toll Brothers proudly supports the American Cancer Society (ACS) in its mission to free the world from cancer through life-saving research. We have contributed more than $10 million to ACS to date: just one milestone of many still to come. Each year, the need for life-saving cancer research continues, and so does our devotion to the cause.</p>
<div>
    <p>*©2023 Fortune Media IP Limited. All rights reserved. Used under license. Fortune and Fortune Media IP Limited are not affiliated with, and do not endorse the products or services of, Toll Brothers.</p>
    <p>**From Fortune Magazine, March 1, 2016 ©2016 Time Inc. Fortune and The World's Most Admired Companies are registered trademarks of Time Inc. and are under license. Fortune and Time Inc. are not affiliated with, and do not endorse products or services of, Toll Brothers.</p>
    <p>†From Fortune. ©2020 Fortune Media IP Limited. All rights reserved. Used under license. Fortune and The World's Most Admired Companies are registered trademarks of Fortune Media IP Limited and are used under license. Fortune and Fortune Media IP Limited are not affiliated with, and do not endorse the products or services of, Toll Brothers.</p>
</div>
</body>
</html>
