 <style>

/* =========================================== */
.WUvIX {
    font-size: 12px;
    margin: 50px auto;
    width: 100%;
    padding: 0 20px;
    columns: 159px;
    flex: 1 1;
}
section{
    display: block;
}
* {
    box-sizing: border-box;
}
body {
    position: relative;
    padding: 0;
    margin: 0;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: subpixel-antialiased;
    font-family: Gotham,sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #080808;
    line-height: 1.5;
    overflow-x: hidden;
}

.WUvIX li.OmgTH {
    font-weight: 500;
    margin-bottom: 30px;
    page-break-inside: avoid;
    break-inside: avoid;
    text-transform: uppercase;
    font-family: Gotham,sans-serif;
}


* {
    box-sizing: border-box;
}

.WUvIX ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.WUvIX li {
    font-weight: 300;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

li {
    line-height: 1.6em;
}


a, ul, li{
    background: transparent;
    border: 0;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}
a{
    color: #000000;
    font:12px Gotham, sans-serif
}
ul li a{
    color: #000000;
    font:13px "Gowtham Narrow", sans-serif;
}
.WUvIX a {
    text-decoration: none;
}
#vasu{
font:100px;
color:red;
}


/* ============================================= */
</style>

<body>
<section class="page-margins">
    <section class="WUvIX">
        <ul>
            <li class="OmgTH">
                <a title="Arizona" href="https://www.tollbrothers.com/luxury-homes/Arizona"><b>Arizona<b></a>
                <ul>
                    <li class="9oyVO"><a title="Phoenix" href="https://www.tollbrothers.com/luxury-homes/Phoenix-AZ">Phoenix</a></li>
                </ul>
            </li>
            <li class="OmgTH">
                <a title="California" href="https://www.tollbrothers.com/luxury-homes/California"><b>California</b></a>
                <ul>
                    <li class="9oyVO"><a title="Los Angeles" href="https://www.tollbrothers.com/luxury-homes/Los-Angeles-CA">Los Angeles</a></li>
                    <li class="9oyVO"><a title="Orange County" href="https://www.tollbrothers.com/luxury-homes/Orange-County-CA">Orange County</a></li>
                    <li class="9oyVO"><a title="Palm Springs" href="https://www.tollbrothers.com/luxury-homes/Palm-Springs-CA">Palm Springs</a></li>
                    <li class="9oyVO"><a title="Sacramento" href="https://www.tollbrothers.com/luxury-homes/Sacramento-CA">Sacramento</a></li>
                    <li class="9oyVO"><a title="San Diego" href="https://www.tollbrothers.com/luxury-homes/San-Diego-CA">San Diego</a></li>
                    <li class="9oyVO"><a title="San Francisco" href="https://www.tollbrothers.com/luxury-homes/San-Francisco-CA">San Francisco</a></li>
                    <li class="9oyVO"><a title="San Jose" href="https://www.tollbrothers.com/luxury-homes/San-Jose-CA">San Jose</a></li>
                </ul>
            </li>
            <li class="OmgTH">
                <a title="Colorado" href="https://www.tollbrothers.com/luxury-homes/Colorado"><b>Colorado</b></a>
                <ul>
                    <li class="9oyVO"><a title="Colorado Springs" href="https://www.tollbrothers.com/luxury-homes/Colorado-Springs-CO">Colorado Springs</a></li>
                    <li class="9oyVO"><a title="Denver" href="https://www.tollbrothers.com/luxury-homes/Denver-CO">Denver</a></li>
                    <li class="9oyVO"><a title="Fort Collins" href="https://www.tollbrothers.com/luxury-homes/Fort-Collins-CO">Fort Collins</a></li>
                </ul>
            </li>
            <li class="OmgTH">
                <a title="Connecticut" href="https://www.tollbrothers.com/luxury-homes/Connecticut"><b>Connecticut</b></a>
                <ul>
                    <li class="9oyVO"><a title="New Haven" href="https://www.tollbrothers.com/luxury-homes/New-Haven-CT">New Haven</a></li>
                </ul>
            </li>
            <li class="OmgTH">
                <a title="Delaware" href="https://www.tollbrothers.com/luxury-homes/Delaware"><b>Delaware</b></a>
                <ul>
                    <li class="9oyVO"><a title="Wilmington" href="https://www.tollbrothers.com/luxury-homes/Wilmington-DE">Wilmington</a></li>
                </ul>
            </li>
            <li class="OmgTH">
                <a title="Florida" href="https://www.tollbrothers.com/luxury-homes/Florida"><b>Florida</b></a>
                <ul>
                    <li class="9oyVO"><a title="Fort Myers" href="https://www.tollbrothers.com/luxury-homes/Fort-Myers-FL">Fort Myers</a></li>
                    <li class="9oyVO"><a title="Jacksonville" href="https://www.tollbrothers.com/luxury-homes/Jacksonville-FL">Jacksonville</a></li>
                    <li class="9oyVO"><a title="Naples" href="https://www.tollbrothers.com/luxury-homes/Naples-FL">Naples</a></li>
                    <li class="9oyVO"><a title="Orlando" href="https://www.tollbrothers.com/luxury-homes/Orlando-FL">Orlando</a></li>
                    <li class="9oyVO"><a title="Palm Coast" href="https://www.tollbrothers.com/luxury-homes/Palm-Coast-FL">Palm Coast</a></li>
                    <li class="9oyVO"><a title="Sarasota" href="https://www.tollbrothers.com/luxury-homes/Sarasota-FL">Sarasota</a></li>
                    <li class="9oyVO"><a title="Tampa" href="https://www.tollbrothers.com/luxury-homes/Tampa-FL">Tampa</a></li>
                    <li class="9oyVO"><a title="West Palm Beach" href="https://www.tollbrothers.com/luxury-homes/West-Palm-Beach-FL">West Palm Beach</a></li>
                </ul>
            </li>
            <li class="OmgTH">
                <a title="Georgia" href="https://www.tollbrothers.com/luxury-homes/Georgia"><b>Georgia</b></a>
                <ul>
                    <li class="9oyVO"><a title="Atlanta" href="https://www.tollbrothers.com/luxury-homes/Atlanta-GA">Atlanta</a></li>
                </ul>
            </li>
            <li class="OmgTH">
                <a title="Idaho" href="https://www.tollbrothers.com/luxury-homes/Idaho"><b>Idaho</b></a>
                <ul>
                    <li class="9oyVO"><a title="Boise" href="https://www.tollbrothers.com/luxury-homes/Boise-ID">Boise</a></li>
                    <li class="9oyVO"><a title="Coeur d'Alene" href="https://www.tollbrothers.com/luxury-homes/Coeur-d'Alene-ID">Coeur d'Alene</a></li>
                </ul>
            </li>
            <li class="OmgTH">
                <a title="Illinois" href="https://www.tollbrothers.com/luxury-homes/Illinois"><b>Illinois</b></a>
                <ul>
                    <li class="9oyVO"><a title="Chicago" href="https://www.tollbrothers.com/luxury-homes/Chicago-IL">Chicago</a></li>
                </ul>
            </li>
            <li class="OmgTH">
                <a title="Maryland" href="https://www.tollbrothers.com/luxury-homes/Maryland"><b>Maryland</b></a>
                <ul>
                    <li class="9oyVO"><a title="Baltimore" href="https://www.tollbrothers.com/luxury-homes/Baltimore-MD">Baltimore</a></li>
                </ul>
            </li>
            <li class="OmgTH">
                <a title="Massachusetts" href="https://www.tollbrothers.com/luxury-homes/Massachusetts"><b>Massachusett</b></a>
                <ul>
                    <li class="9oyVO"><a title="Boston" href="https://www.tollbrothers.com/luxury-homes/Boston-MA">Boston</a></li>
                </ul>
            </li>
            <li class="OmgTH">
                <a title="Michigan" href="https://www.tollbrothers.com/luxury-homes/Michigan"><b>Michigan</b></a>
                <ul>
                    <li class="9oyVO"><a title="Detroit" href="https://www.tollbrothers.com/luxury-homes/Detroit-MI">Detroit</a></li>
                </ul>
            </li>
            <li class="OmgTH">
                <a title="Nevada" href="https://www.tollbrothers.com/luxury-homes/Nevada"><b>Nevada</b></a>
                <ul>
                    <li class="9oyVO"><a title="Las Vegas" href="https://www.tollbrothers.com/luxury-homes/Las-Vegas-NV">Las Vegas</a></li>
                    <li class="9oyVO"><a title="Reno" href="https://www.tollbrothers.com/luxury-homes/Reno-NV">Reno</a></li>
                </ul>
            </li>
            <li class="OmgTH">
                <a title="New Jersey" href="https://www.tollbrothers.com/luxury-homes/New-Jersey"><b>New Jersey</b></a>
                <ul>
                    <li class="9oyVO"><a title="Central New Jersey" href="https://www.tollbrothers.com/luxury-homes/Central-New-Jersey">Central New Jersey</a></li>
                    <li class="9oyVO"><a title="Northern New Jersey" href="https://www.tollbrothers.com/luxury-homes/Northern-New-Jersey">Northern New Jersey</a></li>
                </ul>
            </li>
            <li class="OmgTH">
                <a title="New York" href="https://www.tollbrothers.com/luxury-homes/New-York"><b>New York</b></a>
                <ul>
                    <li class="9oyVO"><a title="Dutchess County" href="https://www.tollbrothers.com/luxury-homes/Dutchess-County-NY">Dutchess County</a></li>
                    <li class="9oyVO"><a title="Long Island" href="https://www.tollbrothers.com/luxury-homes/Long-Island-NY">Long Island</a></li>
                    <li class="9oyVO"><a title="New York" href="https://www.tollbrothers.com/luxury-homes/New-York-NY">New York</a></li>
                    <li class="9oyVO"><a title="Westchester" href="https://www.tollbrothers.com/luxury-homes/Westchester-NY">Westchester</a></li>
                </ul>
            </li>
            <li class="OmgTH">
                <a title="North Carolina" href="https://www.tollbrothers.com/luxury-homes/North-Carolina"><b>North Carolina</b></a>
                <ul>
                    <li class="9oyVO"><a title="Charlotte" href="https://www.tollbrothers.com/luxury-homes/Charlotte-NC">Charlotte</a></li>
                    <li class="9oyVO"><a title="Raleigh" href="https://www.tollbrothers.com/luxury-homes/Raleigh-NC">Raleigh</a></li>
                </ul>
            </li>
            <li class="OmgTH">
                <a title="Oregon" href="https://www.tollbrothers.com/luxury-homes/Oregon"><b>Oregon</b></a>
                <ul>
                    <li class="9oyVO"><a title="Portland" href="https://www.tollbrothers.com/luxury-homes/Portland-OR">Portland</a></li>
                </ul>
            </li>
            <li class="OmgTH">
                <a title="Pennsylvania" href="https://www.tollbrothers.com/luxury-homes/Pennsylvania"><b>Pennsylvania</b></a>
                <ul>
                    <li class="9oyVO"><a title="Philadelphia" href="https://www.tollbrothers.com/luxury-homes/Philadelphia-PA">Philadelphia</a></li>
                </ul>
            </li>
            <li class="OmgTH">
                <a title="South Carolina" href="https://www.tollbrothers.com/luxury-homes/South-Carolina"><b>South Carolina</b></a>
                <ul>
                    <li class="9oyVO"><a title="Charleston" href="https://www.tollbrothers.com/luxury-homes/Charleston-SC">Charleston</a></li>
                    <li class="9oyVO"><a title="Greenville" href="https://www.tollbrothers.com/luxury-homes/Greenville-SC">Greenville</a></li>
                    <li class="9oyVO"><a title="Hilton Head" href="https://www.tollbrothers.com/luxury-homes/Hilton-Head-SC">Hilton Head</a></li>
                    <li class="9oyVO"><a title="Myrtle Beach" href="https://www.tollbrothers.com/luxury-homes/Myrtle-Beach-SC">Myrtle Beach</a></li>
                </ul>
            </li>
            <li class="OmgTH">
                <a title="Tennessee" href="https://www.tollbrothers.com/luxury-homes/Tennessee"><b>Tennessee</b></a>
                <ul>
                    <li class="9oyVO"><a title="Nashville" href="https://www.tollbrothers.com/luxury-homes/Nashville-TN">Nashville</a></li>
                </ul>
            </li>
            <li class="OmgTH">
                <a title="Texas" href="https://www.tollbrothers.com/luxury-homes/Texas"><b>Texas</b></a>
                <ul>
                    <li class="9oyVO"><a title="Austin" href="https://www.tollbrothers.com/luxury-homes/Austin-TX">Austin</a></li>
                    <li class="9oyVO"><a title="Dallas-Fort Worth" href="https://www.tollbrothers.com/luxury-homes/Dallas-Fort-Worth-TX">Dallas-Fort Worth</a></li>
                    <li class="9oyVO"><a title="Houston" href="https://www.tollbrothers.com/luxury-homes/Houston-TX">Houston</a></li>
                    <li class="9oyVO"><a title="San Antonio" href="https://www.tollbrothers.com/luxury-homes/San-Antonio-TX">San Antonio</a></li>
                </ul>
            </li>
            <li class="OmgTH">
                <a title="Utah" href="https://www.tollbrothers.com/luxury-homes/Utah"><b>Utah</b></a>
                <ul>
                    <li class="9oyVO"><a title="Salt Lake City" href="https://www.tollbrothers.com/luxury-homes/Salt-Lake-City-UT">Salt Lake City</a></li>
                    <li class="9oyVO"><a title="St George" href="https://www.tollbrothers.com/luxury-homes/St-George-UT">St George</a></li>
                </ul>
            </li>
            <li class="OmgTH">
                <a title="Virginia" href="https://www.tollbrothers.com/luxury-homes/Virginia"><b>Virginia</b></a>
                <ul>
                    <li class="9oyVO"><a title="Washington, DC" href="https://www.tollbrothers.com/luxury-homes/Washington-DC">Washington, DC</a></li>
                </ul>
            </li>
            <li class="OmgTH">
                <a title="Washington" href="https://www.tollbrothers.com/luxury-homes/Washington"><b>Washington</b></a>
                <ul>
                    <li class="9oyVO"><a title="Seattle" href="https://www.tollbrothers.com/luxury-homes/Seattle-WA">Seattle</a></li>
                    <li class="9oyVO"><a title="Spokane" href="https://www.tollbrothers.com/luxury-homes/Spokane-WA">Spokane</a></li>
                    <li class="9oyVO"><a title="Vancouver" href="https://www.tollbrothers.com/luxury-homes/Vancouver-WA">Vancouver</a></li>
                </ul>
            </li>
            

        </ul>
    </section>
</section>
</body>